<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUOoghGXPLV57puJXxSyWD20MqX2YJfyM</string>
	<key>GCM_SENDER_ID</key>
	<string>784312113934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios3.Ddubuk</string>
	<key>PROJECT_ID</key>
	<string>pj3t9-ddubuk</string>
	<key>STORAGE_BUCKET</key>
	<string>pj3t9-ddubuk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784312113934:ios:85488fd1470677103b555f</string>
</dict>
</plist>