<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansKR-Bold.ttf</string>
		<string>NotoSansKR-Medium.ttf</string>
	</array>
	<key>Privacy - Always Usage Description</key>
	<string>위치 확인을 위해 권한이 필요합니다</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
</dict>
</plist>
